{{- if isset .Params "summary" -}}
    {{ $.Scratch.Add "summary" .Params.summary }}
{{- else -}}
    {{ $.Scratch.Add "summary" "PingCAP is focused on developing distributed NewSQL and is the team building TiDB, an open-source distributed NewSQL database." }}
{{- end -}}

{{- if isset .Params "image" -}}
    {{- $.Scratch.Add "image" (.Params.image | absURL ) -}}
{{- else -}}
    {{- $.Scratch.Add "image" ("/images/pingcap-opengraph.jpg" | absURL) -}}
{{- end -}}

{{- if isset .Params "title" -}}
    {{- $.Scratch.Add "metaTitle" .Params.title -}}
{{- end -}}

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="canonical" href="https://www.pingcap.com/">
<meta name="description" content="{{ $.Scratch.Get "summary" }}">
<meta name="robots" content="noodp">
<meta name="keywords" content="SQL, HTAP, Open Source, Cloud-Native, NewSQL">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ $.Scratch.Get "metaTitle" }}">
<meta property="og:description" content="{{ $.Scratch.Get "summary" }}">
<meta property="og:url" content="{{ .Page.URL | absURL }}">
<meta property="og:site_name" content="PingCAP">
<meta property="og:image" content="{{ $.Scratch.Get "image" }}">
<meta property="og:image:secure_url" content="{{ $.Scratch.Get "image" }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="{{ $.Scratch.Get "summary" }}">
<meta name="twitter:title" content="{{ $.Scratch.Get "metaTitle" }}">
<meta name="twitter:site" content="@pingcap">
<meta name="twitter:image:src" content="{{ $.Scratch.Get "image" }}">
<meta name="twitter:creator" content="@pingcap">

<!-- Start of CrazyEgg Embed Code -->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0076/9903.js" async="async"></script>
<!-- End of CrazyEgg Embed Code -->

<script type="application/ld+json">
{
    "@context": "http:\/\/schema.org",
    "@type": "WebSite",
    "url": "https:\/\/www.pingcap.com\/",
    "name": "PingCAP",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https:\/\/www.pingcap.com\/?s={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>
