@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.sidebar {
  max-width: 11.5rem;
  min-height: 100vh;
  padding-top: 10px;
}

.sidebar ul li {
  list-style: none
}

.sidebar .title {
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 1rem;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #142848;
}



.sidebar .all {
  display: inline-block;
  padding: 3px 9px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  #   color: #333
}

.sidebar .all.sel,.sidebar .all:hover {
  background-color: #3a59f0;
  color: #fff;
  border: 1px solid #3a59f0
}

.sidebar .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 12px 0 0 -6px;
  padding: 0
}

.sidebar .tag-list a.tag {
  padding: 3px 9px;
  border: 1px solid #cdcdcd;
  margin: 6px;
  font-size: 14px;
  #   color: #333
}

.sidebar .tag-list a.sel,.sidebar .tag-list a.tag:hover {
  background-color: #3a59f0;
  color: #fff;
  border: 1px solid #3a59f0
}

.sidebar .st_tree {
  width: 100%;
  padding-left: 0
}

.sidebar .st_tree ul {
  padding-left: .8rem
}

.sidebar .st_tree>ul {
  padding-left: 0
}

.sidebar .st_tree li {
  position: relative
}

.sidebar .st_tree li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: .3rem;
  font-size: 16px;
  line-height: 1.5;
  color: #000
}

.sidebar .st_tree .folder .icon-arrow {
  margin-right: .3rem;
  width: 10px;
  height: 10px;
  background-image: url(/images/svgs/icon-arrow-right.svg);
  background-size: 10px 10px
}

.sidebar .st_tree .folder .icon-file {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  margin-right: .3rem;
  background-image: url(/images/svgs/icon-file.svg);
  background-size: 14px 14px
}

.sidebar .st_tree .open>a .icon-arrow {
  width: 10px;
  height: 10px;
  background-image: url(/images/svgs/icon-arrow-down.svg);
  background-size: 10px 10px
}

.sidebar .st_tree li.leaf-child.active a {
  color: #3a59f0
}

.sidebar .st_tree li.leaf-child.active .icon-file {
  background-image: url(/images/svgs/icon-file-blue.svg)
}

.sidebar .nav-toc .folder .icon-arrow,.sidebar .nav-toc .open>a .icon-arrow {
  margin-left: .4rem
}

.sidebar .nav-toc .open ul li a {
  border-left: 1px solid rgba(58,89,240,.5)
}

.sidebar .nav-toc .open ul li.active a {
  border-left: 4px solid #3a59f0
}

@media (min-width:600px) {
  .sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: calc(1rem + 2rem + 3px);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 20px 0
  }

  .sidebar .sticky-sidebar {
    max-height: calc(100vh - calc(1rem + 2rem + 3px));
    overflow: auto
  }
}

.blog .ssba a {
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
  border: 1px solid;
  opacity: .8
}

.blog .ssba a.ssba_twitter_share {
  border-color: #00baf0
}

.blog .ssba a.ssba_twitter_share svg {
  fill: #00baf0
}

.blog .ssba a.ssba_reddit_share {
  border-color: #d80000
}

.blog .ssba a.ssba_facebook_share {
  border-color: #385c8e
}

.blog .ssba a.ssba_linkedin_share {
  border-color: #0079b2
}

.blog .ssba a.ssba_linkedin_share svg {
  fill: #0079b2
}

.blog .ssba a.ssba_hackernews_share {
  border-color: #f60
}

.blog .ssba a.ssba_hackernews_share svg {
  fill: #f60
}

.blog .ssba a.ssba_mail_share {
  border-color: #93abbd
}

.blog .ssba a.ssba_mail_share svg {
  fill: #93abbd
}

.blog .ssba a.ssba_wechat_share {
  border-color: #1aad19
}

.blog .ssba a.ssba_wechat_share svg {
  fill: #1aad19
}

.blog .ssba a.ssba_weibo_share {
  border-color: #d93c1c
}

.blog .ssba a:hover {
  opacity: 1
}

@media (min-width:880px) {
  .blog .ssba-wrap {
    display: block;
    position: fixed;
    top: 120px;
    right: 0;
    padding-right: 25px
  }
}

@media (max-width:879px) {
  .blog .ssba-wrap .ssba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px
  }
}

.aside-menu {
  position: fixed;
  top: 120px;
  right: 12px;
  width: 48px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  z-index: 1
}

.aside-menu:hover {
  width: 230.4px
}

.aside-menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.aside-menu .menu__list {
  padding: 0;
  width: 230.4px
}

.aside-menu .menu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
  cursor: pointer;
  color: #1e2969
}

.aside-menu .menu__list li a:hover div:nth-child(2):after {
  width: 30%
}

.aside-menu .menu__list li a.active div:nth-child(2):after {
  width: 90%
}

.aside-menu .menu__list li a div {
  width: 48px;
  height: 48px;
  line-height: 48px
}

.aside-menu .menu__list li a div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #1e2969;
  border-radius: 50%
}

.aside-menu .menu__list li a div:nth-child(1) svg {
  width: 32px;
  height: 32px
}

.aside-menu .menu__list li a div:nth-child(1) svg .cls-1 {
  fill: #1e2969
}

.aside-menu .menu__list li a div:nth-child(2) {
  position: relative;
  width: calc(192px);
  text-align: left;
  padding-left: 12px;
  font-size: 18px
}

.aside-menu .menu__list li a div:nth-child(2):after {
  content: " ";
  background: #1e2969;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 12px;
  bottom: 0;
  -webkit-transition: all ease .4s;
  transition: all ease .4s
}

@media (max-width:768px) {
  .aside-menu {
    position: static;
    width: 230.4px;
    margin: 12px auto
  }
}



.blog .container,.doc .container,.meetup .container,.recruit-single .container,.weekly .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.blog .sidebar,.doc .sidebar,.meetup .sidebar,.recruit-single .sidebar,.weekly .sidebar {
  min-height: calc(100vh - 350px)
}

.blog .archive,.blog .list,.doc .archive,.doc .list,.meetup .archive,.meetup .list,.recruit-single .archive,.recruit-single .list,.weekly .archive,.weekly .list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  # max-width: calc(100% - 24rem)
}

.blog .archive h1,.blog .archive h2,.blog .archive h3,.blog .archive h4,.blog .list h1,.blog .list h2,.blog .list h3,.blog .list h4,.doc .archive h1,.doc .archive h2,.doc .archive h3,.doc .archive h4,.doc .list h1,.doc .list h2,.doc .list h3,.doc .list h4,.meetup .archive h1,.meetup .archive h2,.meetup .archive h3,.meetup .archive h4,.meetup .list h1,.meetup .list h2,.meetup .list h3,.meetup .list h4,.recruit-single .archive h1,.recruit-single .archive h2,.recruit-single .archive h3,.recruit-single .archive h4,.recruit-single .list h1,.recruit-single .list h2,.recruit-single .list h3,.recruit-single .list h4,.weekly .archive h1,.weekly .archive h2,.weekly .archive h3,.weekly .archive h4,.weekly .list h1,.weekly .list h2,.weekly .list h3,.weekly .list h4 {
  font-weight: 400;
  color: #142848
}

.blog .archive h1,.blog .list h1,.doc .archive h1,.doc .list h1,.meetup .archive h1,.meetup .list h1,.recruit-single .archive h1,.recruit-single .list h1,.weekly .archive h1,.weekly .list h1 {
  margin-bottom: 1.5rem;
  font-size: 24px
}

.blog .archive h2,.blog .list h2,.doc .archive h2,.doc .list h2,.meetup .archive h2,.meetup .list h2,.recruit-single .archive h2,.recruit-single .list h2,.weekly .archive h2,.weekly .list h2 {
  font-size: 22px
}

.blog .archive h3,.blog .list h3,.doc .archive h3,.doc .list h3,.meetup .archive h3,.meetup .list h3,.recruit-single .archive h3,.recruit-single .list h3,.weekly .archive h3,.weekly .list h3 {
  font-size: 20px
}

.blog .archive h4,.blog .list h4,.doc .archive h4,.doc .list h4,.meetup .archive h4,.meetup .list h4,.recruit-single .archive h4,.recruit-single .list h4,.weekly .archive h4,.weekly .list h4 {
  font-size: 18px
}

.blog .content,.doc .content,.meetup .content,.recruit-single .content,.weekly .content {
  overflow-x: auto
}

.blog .content ol,.blog .content p,.blog .content table,.blog .content ul,.doc .content ol,.doc .content p,.doc .content table,.doc .content ul,.meetup .content ol,.meetup .content p,.meetup .content table,.meetup .content ul,.recruit-single .content ol,.recruit-single .content p,.recruit-single .content table,.recruit-single .content ul,.weekly .content ol,.weekly .content p,.weekly .content table,.weekly .content ul {
  margin: .7rem 0;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  color: #3e3e3e
}

.blog .content a,.doc .content a,.meetup .content a,.recruit-single .content a,.weekly .content a {
  color: #3a59f0
}

.blog .content img,.doc .content img,.meetup .content img,.recruit-single .content img,.weekly .content img {
  display: block;
  max-width: 100%;
  margin: auto
}

.blog .content .blog-post-meta,.doc .content .blog-post-meta,.meetup .content .blog-post-meta,.recruit-single .content .blog-post-meta,.weekly .content .blog-post-meta {
  padding-left: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #6a737d;
  list-style: none
}

.blog .content .blog-post-meta img,.doc .content .blog-post-meta img,.meetup .content .blog-post-meta img,.recruit-single .content .blog-post-meta img,.weekly .content .blog-post-meta img {
  display: inline-block;
  height: 16px;
  margin-top: -2px;
  margin-right: 5px;
  vertical-align: middle
}

.blog .content .blog-post-meta .meta-item,.doc .content .blog-post-meta .meta-item,.meetup .content .blog-post-meta .meta-item,.recruit-single .content .blog-post-meta .meta-item,.weekly .content .blog-post-meta .meta-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1rem
}

.blog .markdown-body h1,.blog .markdown-body h2,.doc .markdown-body h1,.doc .markdown-body h2,.meetup .markdown-body h1,.meetup .markdown-body h2,.recruit-single .markdown-body h1,.recruit-single .markdown-body h2,.weekly .markdown-body h1,.weekly .markdown-body h2 {
  border-bottom: none
}

.blog .markdown-body h2,.blog .markdown-body h3,.doc .markdown-body h2,.doc .markdown-body h3,.meetup .markdown-body h2,.meetup .markdown-body h3,.recruit-single .markdown-body h2,.recruit-single .markdown-body h3,.weekly .markdown-body h2,.weekly .markdown-body h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.6;
  padding: 0
}

.blog .markdown-body center,.doc .markdown-body center,.meetup .markdown-body center,.recruit-single .markdown-body center,.weekly .markdown-body center {
  font-size: 80%;
  color: #666;
  font-style: italic
}

.blog .markdown-body iframe,.doc .markdown-body iframe,.meetup .markdown-body iframe,.recruit-single .markdown-body iframe,.weekly .markdown-body iframe {
  max-width: 100%!important
}

.blog .tabs,.doc .tabs,.meetup .tabs,.recruit-single .tabs,.weekly .tabs {
  min-width: 320px;
  max-width: 100%;
  margin: 2em auto;
  background: #fff
}

.blog .tabs h3,.doc .tabs h3,.meetup .tabs h3,.recruit-single .tabs h3,.weekly .tabs h3 {
  margin: 0 0 20px
}

.blog .tabs section,.doc .tabs section,.meetup .tabs section,.recruit-single .tabs section,.weekly .tabs section {
  display: none;
  padding: 20px 0;
  border-top: 1px solid #ddd
}

.blog .tabs input,.doc .tabs input,.meetup .tabs input,.recruit-single .tabs input,.weekly .tabs input {
  display: none
}

.blog .tabs label,.doc .tabs label,.meetup .tabs label,.recruit-single .tabs label,.weekly .tabs label {
  position: relative;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent
}

.blog .tabs label img,.doc .tabs label img,.meetup .tabs label img,.recruit-single .tabs label img,.weekly .tabs label img {
  width: 20px;
  display: inline;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background: 0 0
}

.blog .tabs .label__title,.doc .tabs .label__title,.meetup .tabs .label__title,.recruit-single .tabs .label__title,.weekly .tabs .label__title {
  margin-left: 30px
}

.blog .tabs label:hover,.doc .tabs label:hover,.meetup .tabs label:hover,.recruit-single .tabs label:hover,.weekly .tabs label:hover {
  color: #888;
  cursor: pointer
}

.blog .tabs input:checked+label,.doc .tabs input:checked+label,.meetup .tabs input:checked+label,.recruit-single .tabs input:checked+label,.weekly .tabs input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #1e2969;
  border-bottom: 1px solid #fff
}

.blog .tabs .continue__arrow,.doc .tabs .continue__arrow,.meetup .tabs .continue__arrow,.recruit-single .tabs .continue__arrow,.weekly .tabs .continue__arrow {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative
}

.blog .tabs .continue__arrow::before,.doc .tabs .continue__arrow::before,.meetup .tabs .continue__arrow::before,.recruit-single .tabs .continue__arrow::before,.weekly .tabs .continue__arrow::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #3a59f0;
  border-right: 2px solid #3a59f0;
  display: block;
  top: 50%;
  left: .6em;
  position: absolute;
  margin-top: -2px
}

.blog .tabs .continue__arrow::after,.doc .tabs .continue__arrow::after,.meetup .tabs .continue__arrow::after,.recruit-single .tabs .continue__arrow::after,.weekly .tabs .continue__arrow::after {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  left: 8px;
  top: 50%;
  background: #3a59f0;
  margin-top: 1px
}

.blog .error,.doc .error,.meetup .error,.recruit-single .error,.weekly .error {
  color: #3a59f0;
  line-height: 1.7;
  font-size: 16px;
  margin: 2em 0
}

.doc .sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 11.5rem;
  flex: 0 0 11.5rem
}

.doc .sidebar-page {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5rem;
  flex: 0 0 12.5rem;
  min-height: calc(100vh - 350px)
}

.doc .sidebar-page .improve-doc,.doc .sidebar-page .pdf-link,.doc .sidebar-page .toc-title {
  color: #142848;
  font-size: 14px;
  line-height: 20px
}

.doc .sidebar-page .improve-doc svg,.doc .sidebar-page .pdf-link svg,.doc .sidebar-page .toc-title svg {
  margin-right: 5px
}

.doc .sidebar-page .improve-doc,.doc .sidebar-page .pdf-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: underline;
  margin-bottom: 10px
}

.doc .sidebar-page .toc-title {
  margin: calc(10px * 2) 0 10px
}

.doc #smarttoc {
  position: relative!important;
  left: initial!important;
  max-width: 12.5rem!important;
  max-height: 100vh!important;
  padding: 0;
  border: none;
  border-color: transparent;
  border-left: 1px solid rgba(158,158,158,.22);
  -webkit-transform: initial!important;
  transform: initial!important;
  z-index: auto
}

.doc #smarttoc:hover {
  max-width: 12.5rem!important
}

.doc #smarttoc ul {
  padding: 0 0 0 1em!important
}

.doc #smarttoc a {
  white-space: normal!important;
  word-wrap: break-word
}

.doc #smarttoc ul ul a {
  padding-left: 1.2rem
}

.doc #smarttoc ul ul a:active,.doc #smarttoc ul ul a:hover,.doc #smarttoc ul ul li.active>a {
  padding-left: calc(1.2rem - 2px)
}

.doc .git-info {
  margin-top: 5rem;
  padding: 1rem .7rem;
  background-color: rgba(27,31,35,.05);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #3e3e3e
}

.doc .git-info a {
  padding: 0 2px;
  color: #3a59f0
}

.recruit-single .operate {
  margin-top: 1.5rem;
  border-top: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.recruit-single .operate .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 16px
}

.recruit-single .operate .item a .icon {
  margin-right: .4rem
}

#smarttoc-extender {
  display: none!important
}

@media (min-width:880px) {
  .doc .archive,.doc .list {
    padding: calc(calc(1rem + 2rem + 3px) + 20px) 1rem 1.5rem;
    min-height: calc(100vh - 350px)
  }

  .doc .academy-archive {
    padding: 2em 7rem 1.5rem
  }

  .blog .sidebar,.meetup .sidebar,.recruit-single .sidebar,.weekly .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14rem;
    flex: 0 0 14rem;
    max-width: 14rem
  }



  .blog .content {
    margin-right: 1rem
  }
}

@media (max-width:879px) {
  .blog .container,.doc .container,.meetup .container,.recruit-single .container,.weekly .container {
    display: block
  }

  .blog .archive,.blog .list,.doc .archive,.doc .list,.meetup .archive,.meetup .list,.recruit-single .archive,.recruit-single .list,.weekly .archive,.weekly .list {
    max-width: 100%;
    margin: 25px 0;
    padding: 25px 0!important
  }

  .blog .sidebar,.doc .sidebar,.meetup .sidebar,.recruit-single .sidebar,.weekly .sidebar {
    padding-top: 80px;
    max-width: 100%;
    min-height: 100%;
    overflow: auto
  }

  .doc .sidebar-page {
    min-height: 100%;
    padding-bottom: 25px
  }

  .doc .sidebar-page #smarttoc {
    max-width: 100%!important
  }

  .blog .archive,.blog .list,.meetup .archive,.meetup .list,.recruit-single .archive,.recruit-single .list {
    margin-top: 55px
  }
}

@media (max-width:500px) {
  .blog .tabs label,.doc .tabs label,.meetup .tabs label,.recruit-single .tabs label,.weekly .tabs label {
    padding: 10px
  }
}

@media print {
@   page {
  size: A4 portrait;
  margin: 3.7cm 2.6cm 3.5cm
}

  body {
    font: 13pt Georgia,'Times New Roman',Times,serif;
    line-height: 1.3;
    background: #fff!important;
    color: #000
  }

  h1 {
    font-size: 24pt
  }

  h2,h3,h4 {
    font-size: 14pt;
    margin-top: 25px
  }

  a {
    page-break-inside: avoid
  }

  a::after {
    content: '(' attr(href) ')'
  }

  blockquote {
    page-break-inside: avoid
  }

  h1,h2,h3,h4,h5,h6 {
    page-break-after: avoid;
    page-break-inside: avoid
  }

  img {
    page-break-inside: avoid;
    page-break-after: avoid
  }

  pre,table {
    page-break-inside: avoid
  }

  dl,ol,ul {
    page-break-before: avoid
  }

  tfoot,thead {
    display: table-row-group
  }

  aside,nav {
    display: none
  }

  .sidebar,.sidebar-page,footer,header {
    display: none
  }
}
