@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.blog .list .article,.meetup .list .article,.weekly .list .article {
  position: relative
}

.blog .list .article .title,.meetup .list .article .title,.weekly .list .article .title {
  margin-bottom: 1rem;
  font-family: TitilliumWeb;
  font-size: 24px;
  font-weight: 400
}


.blog .list .article .title a:hover,.meetup .list .article .title a:hover,.weekly .list .article .title a:hover {
  color: #666
}

.blog .list .article .blog-post-meta,.meetup .list .article .blog-post-meta,.weekly .list .article .blog-post-meta {
  padding-left: 0;
  margin-bottom: 20px;
  font-size: 14px;
  list-style: none
}

.blog .list .article .blog-post-meta img,.meetup .list .article .blog-post-meta img,.weekly .list .article .blog-post-meta img {
  display: inline-block;
  height: 16px;
  margin-top: -2px;
  margin-right: 6px;
  vertical-align: middle
}

.blog .list .article .blog-post-meta .meta-item,.meetup .list .article .blog-post-meta .meta-item,.weekly .list .article .blog-post-meta .meta-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px
}

.blog .list .article .blog-post-meta .meta-item .tag,.meetup .list .article .blog-post-meta .meta-item .tag,.weekly .list .article .blog-post-meta .meta-item .tag {
  position: relative;
  margin-right: 16px;
  color: #3a59f0
}

.blog .list .article .blog-post-meta .meta-item .tag:hover,.meetup .list .article .blog-post-meta .meta-item .tag:hover,.weekly .list .article .blog-post-meta .meta-item .tag:hover {
  color: #127eff
}

.blog .list .article .blog-post-meta .meta-item .tag:not(:last-child)::after,.meetup .list .article .blog-post-meta .meta-item .tag:not(:last-child)::after,.weekly .list .article .blog-post-meta .meta-item .tag:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: .6rem;
  top: 1px;
  right: -8px;
  background-color: #cdcdcd
}

.blog .list .article .brief,.meetup .list .article .brief,.weekly .list .article .brief {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #37434e
}

.blog .list .article .article_divider,.meetup .list .article .article_divider,.weekly .list .article .article_divider {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  margin: 25px 0 20px
}

.blog .list .article::after,.meetup .list .article::after,.weekly .list .article::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 3px solid #3a59f0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}

.blog .list .article:hover::after,.meetup .list .article:hover::after,.weekly .list .article:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.blog .list .article .link,.meetup .list .article .link,.weekly .list .article .link {
  margin: 0 4px;
  text-decoration: underline
}

.cases .list .list-item,.cases .list .loading-item,.news .list .list-item,.news .list .loading-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #cdcdcd
}

.cases .list .list-item .list-item__left,.cases .list .loading-item .list-item__left,.news .list .list-item .list-item__left,.news .list .loading-item .list-item__left {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 0 15px;
  text-align: center
}

.cases .list .list-item .list-item__left .list-item__name,.cases .list .loading-item .list-item__left .list-item__name,.news .list .list-item .list-item__left .list-item__name,.news .list .loading-item .list-item__left .list-item__name {
  width: 180px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #142848;
  word-wrap: break-word
}

.cases .list .list-item .list-item__right,.cases .list .loading-item .list-item__right,.news .list .list-item .list-item__right,.news .list .loading-item .list-item__right {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  padding: 0 15px
}

.cases .list .list-item .list-item__right .list-item__name,.cases .list .loading-item .list-item__right .list-item__name,.news .list .list-item .list-item__right .list-item__name,.news .list .loading-item .list-item__right .list-item__name {
  margin-bottom: 8px;
  font-size: 1.2rem
}

.cases .list .list-item .list-item__right .list-item__industry,.cases .list .loading-item .list-item__right .list-item__industry,.news .list .list-item .list-item__right .list-item__industry,.news .list .loading-item .list-item__right .list-item__industry {
  font-size: 1rem;
  color: #142848;
  margin-bottom: 20px
}

.cases .list .list-item .list-item__right .list-item__desc,.cases .list .loading-item .list-item__right .list-item__desc,.news .list .list-item .list-item__right .list-item__desc,.news .list .loading-item .list-item__right .list-item__desc {
  margin-bottom: 20px;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 28px
}

.cases .list .list-item .list-item__right .arrow-link,.cases .list .loading-item .list-item__right .arrow-link,.news .list .list-item .list-item__right .arrow-link,.news .list .loading-item .list-item__right .arrow-link {
  color: #3a59f0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px
}

.cases .list .list-item .list-item__right .arrow-link:hover,.cases .list .loading-item .list-item__right .arrow-link:hover,.news .list .list-item .list-item__right .arrow-link:hover,.news .list .loading-item .list-item__right .arrow-link:hover {
  color: #202884
}

.cases .list .list-item .list-item__right .arrow-link .arrow,.cases .list .loading-item .list-item__right .arrow-link .arrow,.news .list .list-item .list-item__right .arrow-link .arrow,.news .list .loading-item .list-item__right .arrow-link .arrow {
  margin-left: 4px
}

.cases .list .list-item .list-item__right .list-item__title,.cases .list .loading-item .list-item__right .list-item__title,.news .list .list-item .list-item__right .list-item__title,.news .list .loading-item .list-item__right .list-item__title {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.7;
  color: #3a59f0
}

.cases .list .list-item .list-item__right .list-item__title:hover,.cases .list .loading-item .list-item__right .list-item__title:hover,.news .list .list-item .list-item__right .list-item__title:hover,.news .list .loading-item .list-item__right .list-item__title:hover {
  color: #202884
}

.cases .list .list-item .list-item__right .list-item__date,.cases .list .loading-item .list-item__right .list-item__date,.news .list .list-item .list-item__right .list-item__date,.news .list .loading-item .list-item__right .list-item__date {
  font-size: 16px
}

@media screen and (min-width:992px) {
  .cases .list .list-item,.news .list .list-item {
    padding: 36px 15px
  }

  .cases .list .list-item .list-item__right .list-item__desc,.news .list .list-item .list-item__right .list-item__desc {
    font-size: 18px;
    line-height: 30px
  }
}

@media screen and (max-width:600px) {
  .blog .list .article .title,.meetup .list .article .title,.weekly .list .article .title {
    font-size: 20px
  }

  .cases .list .list-item,.news .list .list-item {
    display: block
  }

  .cases .list .list-item .list-item__left,.news .list .list-item .list-item__left {
    text-align: left
  }

  .cases .list .list-item .list-item__left .lazy,.cases .list .list-item .list-item__left .list-item__name,.news .list .list-item .list-item__left .lazy,.news .list .list-item .list-item__left .list-item__name {
    margin: 0 0 20px
  }
}
