{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ $current_page := . }}

<div class="container body-content docs">



  <div class="row">


   {{ $posts := where (where .Site.Pages "Section" "blog") ".Params.title" "!=" nil  }}
  
    <div class="col-md-2">
       {{- partial "navs/tags-nav.html" (dict "type" "single" "title" "热门标签" "posts" $posts "rss" "/blog/index.xml" "global" .) -}}
    </div>

    <div class="col-sm-9 col-md-8 body">

      <article class="article" itemscope itemtype="http://schema.org/Article">

        {{ partial "header_image.html" . }}

        <div class="article-container">
          <div class="article-inner">

            

            <h1 itemprop="name">{{ .Title }}</h1>

            <div class="article-style" itemprop="articleBody">
              {{ .Content }}
            </div>

            {{ partial "tags.html" . }}
          </div>
        </div>

      </article>

      <div class="body-footer">
        {{ i18n "last_updated" }} {{ $.Lastmod.Format $.Site.Params.date_format }}
      </div>

    </div>

    <div class="hidden-xs col-sm-3 col-md-2">
      <nav id="docs-subnavbar" class="affix">
        {{ partial "toc" . }}
      </nav>
    </div>

  </div>
</div>
{{ partial "footer_container.html" . }}

{{ partial "footer.html" . }}
