{{- define "main" -}}

{{ $page := . }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap blog">
    {{ $posts := where (where .Site.Pages "Section" "blog") ".Params.title" "!=" nil  }}
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{- partial "navs/tags-nav.html" (dict "type" "single" "title" "热门标签" "posts" $posts "rss" "/blog/index.xml" "global" .) -}}
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content " role="main">

      <article class="article">
        <div class="docs-article-container">
          {{/* partial "page_header" . */}}

          <div class="content">
            <h1>{{ .Title  }}</h1>

            {{ partial "archives/blog-post-meta.html" $page }}

          </div>


          <div class="article-style">
            {{ .Content }}
          </div>
          {{ partial "page_footer" . }}
        </div>
      </article>
    </main>
  </div>
</div>



{{- end -}}
