{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ $current_page := . }}

<div class="container body-content docs">
  <div class="row">
  
    <nav id="docs-navbar" class="docs-nav visible-md visible-lg affix">

      <ul id="docs-main-nav">
        {{ range .Site.Menus.posts.ByWeight }}
        <li {{ if .HasChildren }}class="panel collapsed"{{ end }}{{ if $current_page.IsMenuCurrent "posts" . }}class="active"{{ end }}>
          {{ if .HasChildren }}
          <a class="area {{ if not ($current_page.HasMenuCurrent "posts" .) }}collapsed{{end}}" href="#{{ .Name | urlize }}" data-parent="#docs-main-nav" data-toggle="collapse" aria-expanded="{{ if $current_page.HasMenuCurrent "posts" . }}true{{ else }}false{{ end }}">{{ .Name }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>

          <ul id="{{ .Name | urlize }}" class="collapse {{ if or ($current_page.IsMenuCurrent "posts" .) ($current_page.HasMenuCurrent "posts" .) }}in{{ end }}">
            {{ range .Children }}
            <li {{ if $current_page.IsMenuCurrent "posts" . }}class="active"{{ end }}>
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </nav>

    <div class="col-md-2">
      <nav id="small-nav" class="docs-nav hidden-md hidden-lg">
        <h4>Topics</h4>
        {{ $menu := .Site.Menus.posts.ByWeight }}
        <ul>
        {{ range $menu }}
          <li>
            {{ if .HasChildren }}
              {{ .Name }}
              <ul>
              {{ range .Children }}
                <li>
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
              {{ end }}
              </ul>
            {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <div class="col-sm-9 col-md-8 body">

      <article class="article" itemscope itemtype="http://schema.org/Article">

        {{ partial "header_image.html" . }}

        <div class="article-container">
          <div class="article-inner">

            

            <h1 itemprop="name">{{ .Title }}</h1>

            <div class="article-style" itemprop="articleBody">
              {{ .Content }}
            </div>

            {{ partial "tags.html" . }}
          </div>
        </div>

      </article>

      <div class="body-footer">
        {{ i18n "last_updated" }} {{ $.Lastmod.Format $.Site.Params.date_format }}
      </div>

    </div>

    <div class="hidden-xs col-sm-3 col-md-2">
      <nav id="docs-subnavbar" class="affix">
        {{ partial "toc" . }}
       

      </nav>
    </div>

  </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
