{{- partial "tracking-code/ga-events-js.html" -}}

{{- if .isCn -}}
    <a href="http://download.pingcap.org/tidb-manual-cn.pdf?v={{ now.Unix }}" download="tidb-manual-cn.pdf" class="pdf-link" onclick="trackOutboundLink('http://download.pingcap.org/tidb-manual-cn.pdf?v={{ now.Unix }}'); return false;">
{{- else -}}
    <a href="http://download.pingcap.org/tidb-manual-en.pdf?v={{ now.Unix }}" download="tidb-manual-en.pdf" class="pdf-link" onclick="trackOutboundLink('http://download.pingcap.org/tidb-manual-en.pdf?v={{ now.Unix }}'); return false;">
{{- end -}}
{{- partial "svgs/icon-pdf.svg" (dict "fill" "#142848" "width" 14 "height" 14 ) -}}
{{ if .isCn }} 下载 {{ else }} Download {{ end }} PDF
</a>
