{{ $hasMetaData := .hasMetaData }}
{{ $hasBrief := .hasBrief }}

  <div class="list article-list">
    {{- range .posts -}}
    <div class="article" data-tag="{{ range .Params.tags }}{{ replace . " " "-" }} {{ end }}">
    <h1 class="title"><a href="{{ .URL }}">{{ .Title }}</a></h1>
    {{- if $hasMetaData -}}
    {{ partial "archives/blog-post-meta.html" . }}
    {{- end -}}
    {{- if $hasBrief -}}
    <a href="{{ .URL }}">
      <div class="brief">
        <p>{{- .Params.abstract -}}</p>
      </div>
    </a>
    {{- end -}}
    <div class="article_divider"></div>
  </div>
  {{- end -}}
</div>

